<tr>
<td>{{item.priority}}</td>
<td>{{item.text}}</td>
<td></td>
<td>
	<button class="btn btn-default" {{action 'show'}}>Show</button>
	<button class="btn btn-default" {{action 'edit'}}>Edit</button>
	<button class="btn btn-danger" {{action 'delete'}}>Delete</button>
</td>
</tr>